= title(t('keppler.titles.index', model: "Photos"))
.listing.col.l9.m12.s12
	- if can? :new, model
		= link_to new_admin_album_photo_path(@album_photo), class: "btn-floating btn-large waves-effect waves-light btn-new hide-on-small-only" do
			= material_icon.md_24.add
	= entries(@total, @objects)

	= link_to admin_albums_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
		= material_icon.md_18.arrow_back.css_class("md-dark")

	%table.bordered
		%tbody
			- @objects.each do |photo|
				= render 'listing', photo: photo
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.photos"))

	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

- if can? :new, model
	= link_to new_admin_album_photo_path, class: "btn-index-add btn-floating btn-large waves-effect waves-light" do
		= material_icon.md_24.add.css_class("md-light")
