- @tiendas.each do |tienda|
  .modal{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "modal#{tienda.id}"}
    .modal-dialog.animated.zoomIn.animated-3x{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"}
              %i.zmdi.zmdi-close
        .modal-body
          -if tienda.header.blank?
            -a = 1
          -else
            -a = 2
          .ms-hero-bg-warning.ms-hero-img-tienda{:style => "background-image: url(#{a.eql?(2) ? tienda.header : '/assets/img/tiendas.jpg'});"}
            %h3.color-white.index-1.text-center.no-m.pt-4
              = tienda.name
            .color-medium.index-1.text-center.np-m
              = tienda.category.name
            - if tienda.brand.blank?
              %img.img-avatar-circle{:alt => "...", :src => "/assets/img/logo01.jpg"}
            - else
              %img.img-avatar-circle{:alt => "...", :src => "#{tienda.brand}"}
          .card-block.pt-4.text-center
            %h3.color-primary
              = tienda.address
            %p
              = tienda.description
            %hr
            %p
              %i.color-info-light.zmdi.zmdi-email.mr-1
              %a{:href => "mailto:joe@example.com"}
                = tienda.email
            %p
              %i.color-royal-light.zmdi.zmdi-phone.mr-1
              = tienda.phone_one
            - if tienda.phone_two?
              %p
                %i.color-success-light.fa.fa-fax.mr-1
                = tienda.phone_two
            - if tienda.facebook?
              %a.btn-circle.btn-circle-raised.btn-circle-xs.mt-1.mr-1.no-mr-md.btn-facebook{:href => "#{tienda.facebook}", target: "_blank"}
                %i.zmdi.zmdi-facebook
            - if tienda.twitter?
              %a.btn-circle.btn-circle-raised.btn-circle-xs.mt-1.mr-1.no-mr-md.btn-twitter{:href => "#{tienda.twitter}", target: "_blank"}
                %i.zmdi.zmdi-twitter
            - if tienda.instagram?
              %a.btn-circle.btn-circle-raised.btn-circle-xs.mt-1.mr-1.no-mr-md.btn-instagram{:href => "#{tienda.instagram}", target: "_blank"}
                %i.zmdi.zmdi-instagram
