.material-background
.container
  .row
    .col-md-12
      .row.masonry-container
        - var = 0
        - @photos.each_with_index do |photo, index|
          - var+=1
          .col-md-6.col-sm-6.masonry-item.wow.fadeInUp.animation-delay-2
            .card
              %figure.ms-thumbnail.ms-thumbnail-horizontal
                %img.img-responsive{:alt => "", :src => "#{photo.picture}"}
                %figcaption.text-center.ms-thumbnail-caption{:id => "#{var}"}
                  .ms-thumbnail-caption-content
                    %h4.ms-thumbnail-caption-title.mb-2
                    .mt-2#share-gallery
                      .ms-footbar-block
                        .ms-footbar-social
                          %ul.ul-share
                            %li.facebook-p{:id => "fb-#{var}"}
                              %a.btn-circle.btn-facebook.rrss{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A//emicaguacu.slicegroup.xyz/galeria/#{photo.album.id}", :target => "_blank"}
                                %i.zmdi.zmdi-facebook

                            %li.button-share{:id => "#{var}"}
                              %a.btn-circle.btn-shares.rrss
                                %i.zmdi.zmdi-share

                            %li.twitter-p{:id => "twt-#{var}"}
                              %a.btn-circle.btn-twitter.rrss{:href => "https://twitter.com/home?status=https%3A//emicaguacu.slicegroup.xyz/galeria/#{photo.album.id}", :target => "_blank"}
                                %i.zmdi.zmdi-twitter


:javascript
  $(document).ready(function(){
    $( ".ms-thumbnail-caption" ).click(function(e) {
      var number = e.target.id;
      for (var i=1; i<100; i++) {
        $("#fb-"+i).toggleClass("fb-p");
        $("#twt-"+i).toggleClass("twt-p");
      }
    });
  });

:sass
  #share-gallery
    .facebook-p
      transition: all ease .7s
      transform: translate(60px)
      opacity: 0

    .twitter-p
      transition: all ease .7s
      opacity: 0
      transform: translate(-60px)

    .fb-p
      transition: all ease .7s
      opacity: 1!important
      transform: translate(10px, 60px)!important

    .twt-p
      transition: all ease .7s
      opacity: 1!important
      transform: translate(-8px, 60px)!important

    .ul-share
      display: inline-flex
      padding: 0
      list-style-type: none

    .button-share
      cursor: pointer

    .btn-share:hover
      color: #4caf50!important
    .zmdi-share
      color: #4caf50!important
    .zmdi-facebook
      color: #9b0000!important
    .zmdi-twitter
      color: #00aced!important
    .fa-instagram
      color: #e4405f!important
    .zmdi-google
      color: #dd4b39!important

    .ms-footbar-social a
      margin: 0 0 10px 10px
      margin: 0 0 1rem 1rem
      background-color: white!important

    .ms-footbar-social a:hover i
      color: #eeeeee!important
      -webkit-transition: all ease .4s
      transition: all ease .4s
      -webkit-transform: rotate(360deg)
      transform: rotate(360deg)
