= render 'app/partials_index/head'
%body
  = render 'app/partials/shop_button'
  = render 'app/partials/preload'

  .sb-site-container
    = render 'app/partials/home'
    = render 'app/partials/navbar'
    = render 'app/partials_index/carousel_notices'

    .fondo-verde
      .container
        %h1.text-center.text-light.mb-6.wow.fadeInDown.animation-delay-5{ style: "margin: 40px 0 !important;"}
          %b ¡Siempre hay algo nuevo!
    = render 'app/partials_index/gallery'
    -# = render 'app/partials_index/cinex'
    -# = render 'app/partials_index/widget_instagram'
  = render 'app/partials/footer'
  = render 'app/partials/sidebar'

  %script{:src => "/assets/js/plugins.min.js"}
  %script{:src => "/assets/js/app.min.js"}
  %script{:src => "/assets/js/index.js"}

:javascript

  // Cambia las imagen de fondo del Home cada vez que se recarga la página
  var images = ['bg001.jpg', 'bg002.jpg', 'bg003.jpg', 'bg004.jpg', 'bg005.jpg'];
  $('.ms-hero.ms-hero-material').css({'background-image': 'url(assets/app/' + images[Math.floor(Math.random() * images.length)] + ')'});
